body {
	background: linear-gradient(0deg, rgba(255,178,37,1) 0%, rgba(255,255,255,1) 100%);
	background-attachment: fixed;
	background-size: cover;
}
.center {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	img {
		width: 128px;
		height: auto;
	}
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
